@media  screen   
  and (max-width: 550px) 
  and (orientation: portrait) 
  { 

.block_text {
	width: 94%;
	margin: auto;
}


.block_text p {
	font-family: Iowan Old Style;
	font-size: 18px;
	line-height: 28px;
	margin: 30px 0 0px 0px;
	
}


.paragraph:nth-child(2) {
	margin-top: 20%;
}


  }

  @media  screen   
  and (max-width: 820px) 
  and (orientation: landscape) {
  	.block_text {
	width: 90%;
}

.block_text p {
	font-family: Iowan Old Style;
	font-size: 16px;
	line-height: 27px;
	margin: 30px 0 0px 0px;
}

.paragraph:nth-child(2) {
	margin-top: 20%;
}

  }