.block_text {
	width: 50.5%;
	margin: auto;
}


.block_text .left_side_title p {
	font-size: 20px;
	font-style: italic;
}


.block_text p {
	font-family: Iowan Old Style;
	font-size: 20px;
	line-height: 31px;
	margin: 33px 0 0px 0px;
}

.paragraph {
	margin-top: 10%;
}
